* {
    margin: 0;
    padding: 0;
  }

  /*Profil fotoğrafının boyutu ve çember biçimine getirilişi*/
#profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

#apps {
  width: 24px;
  height: 24px;
  margin-top: 7px;
  color: #5f6368;
}

/*Sağ üstte bulunan panel sınıfının ayarları*/
.container-1 {
    margin: 8px;
    list-style-type: none;
    margin-top: 6px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#gmail {
  margin-top: 10px;  
  margin-right: 5px;
  color: rgba(0,0,0,.87);
}

#images {
  margin-top: 10px;
  margin-right: 15px;
  color: rgba(0,0,0,.87);
}

/*Panel sınıfına dahil "a" etiketine ait yazıların ayarları*/
.panel, a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

/*Panel sınıfına dahil "a" etiketine ait yazıların alt çizgisini kaldırma ayarı */
.panel, a:hover {
    text-decoration: none;
}

/*Arama çubuğunun ve Google logosunun ortalama ve boyutlandırma ayarı*/
.container-2  {
  text-align: center;
  margin: 250px 100px 100px 100px;  
}

/*Arama çubuğunun içindeki ikonların ve alanın ayarları*/
.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
}

/*Fareyi arama çubuğuna tutunca oluşacak efektin ayarı */
.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

/*Arama çubuğunun içinin ayarı*/
.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

/*Arama çubuğundaki search ikonunun konum ayarı*/
.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

/*Arama çubuğundaki search ikonunun boyut ayarı*/
.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

/*Arama kutucuğunun konum ayarı*/
.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

/*Arama kutucuğunun boyut ayarı*/
.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px;
  display: block;
}

/*Arama kutucuğunun ayarı*/
.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  width: 480px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  border: none;
}

/*Butonların konum ayarı*/
.buttons {
 text-align: center;
 border: 1px #f2f2f2 ;
 height: 36px;
 font: 14px Arial #5f6368;
 margin-top: 20px;
}

/*Arama butonunun boyut ayarı*/
.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font: 14px Arial #5f6368
}

/*Fareyi Arama butonuna tutunca oluşacak efektin ayarı*/
.googlesearch:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

/*Kendimi Şanslı Hissediyorum butonunun boyut ayarı*/
.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/*Fareyi Kendimi Şanslı Hissediyorum butonuna tutunca oluşacak efektin ayarı*/
.feelinglucky:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

/*İlk satırdaki footer alanının konum ayarı*/
.footer-1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #dadce0;
  position: fixed;
  bottom: 54px;
  width: 100%;
  line-height: 25px;
  background-color: #f2f2f2;
}

/*İlk satırdaki footer alanındaki yazının hizalama ayarı*/
.location {
  float: left;
}

/*İlk satırdaki sıralı liste haline getirdiğimiz footer alanındaki "a" etiketine sahip yazının konum ve boyut ayarı*/
.location a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

/*İkinci satırdaki footer alanının konum ayarı*/
.footer-2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 25px;
  background-color: #f2f2f2;
}

/*İkinci satırdaki footer alanındaki yazıların hizalama ayarı*/
.footerli {
  float: left;
}

/*Sıralı liste haline getirdiğimiz footer alanındaki "a" etiketine sahip yazıların konum ve boyut ayarı*/
.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

/*Fareyi footer alanındaki "a" etiketine sahip yazılara tutunca oluşacak efektin ayarı*/
.footerli a:hover {
  text-decoration: underline;
}

/**/
#voice-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
}

/**/
#voice-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

/*Footer alanlarını sıralı liste halinde gösterirken ortaya çıkan sembolleri gizleme ayarı*/
ul {
  list-style: none;
}